/* 슬라이드 START */
.none-enter-active,
.none-leave-active {
	display: none;
}
.none-enter-from {
	display: none;
}
.none-leave-to {
	display: none;
}
/* slide right */
.slide-right-enter-active,
.slide-right-leave-active {
	transition: transform var(--transition-default) ease;
}
.slide-right-enter-from {
	transform: translateX(100%);
}
.slide-right-leave-to {
	transform: translateX(-100%);
}
/* slide left */
.slide-left-enter-active,
.slide-left-leave-active {
	transition: transform var(--transition-default) ease;
}
.slide-left-enter-from {
	transform: translateX(-100%);
}
.slide-left-leave-to {
	transform: translateX(100%);
}
/* 슬라이드 END */

/* overlay START */
.overlay-enter-active,
.overlay-leave-active {
	transition: transform var(--transition-default) ease;
}
.overlay-enter-from {
	transform: translateX(100%);
}
.overlay-leave-to {
	transform: translateX(100%);
}
/* overlay END */

.slide-up-active,
.slide-up-active {
	transition: transform 2s ease;
}

/* 위에서 올라오는 동작 ON */
.slide-up-enter-from {
	transform: translateY(100%);
}
.slide-up-enter-active {
	transition: transform var(--transition-default) ease-in-out;
}
.slide-up-enter-to {
}

/* 위에서 올라오는 동작 OFF */
/* slide-up-enter는 잘 작동하는데 leave는 버그때문인지 작동하지 않습니다. 따라서 아래로 내려가는 애니메이션을 구현하기 위해서 아래에 .modal-content.hide를 따로 만들었습니다. */
.slide-up-leave-from {
}
.slide-up-leave-active {
	transition: transform var(--transition-default) ease-in-out;
}
.slide-up-leave-to {
	transform: translateY(100%);
}
#modal .modal .c_bs.hide {
	transform: translateY(100%);
	transition: transform var(--transition-default) ease-in-out;
}
#modal-second .modal .c_bs.hide {
	transform: translateY(100%);
	transition: transform var(--transition-default) ease-in-out;
}
